<header>
    <nav>
       <a href="/" class="headerLogo">MovieList</a>
       <ul>
           <li>
                <a href="../movies">All movies</a>
            </li>
           <li>
                <a href="/movies/new">Add movie</a>
           </li>
       </ul>
    </nav>
</header>